<h1>Draw Result for <%=session.fetch("draw_number")%></h1>

<div>
  Your Answer: <%=@answer%>
</div>

<div>
  Correct Answer: <%=@draw_solution%>
</div>

<div>
  <%if @answer == @draw_solution%>
    correct
  <%else%>
    incorrect
  <%end%>
</div>

<hr>

<% if session.fetch("draw_number") >= 5 %>
  <div>
    <form action="/view_play_result">
      <button>View Result</button>
    </form>
  </div>
<%else%>
  <div>
    <form action="/new_draw">
      <button>Next Draw</button>
    </form>
  </div>
<%end%>

  