<h1>Welcome to NameGame 
  <%if @current_user == nil%>
  <%else%>
  <%=@current_user.first_name%> 
  <%end%>
  </h1>

  <h1>Start new play</h1>
<ul>
  <li><a href="/new_play">Begin new play</a></li>
  <li>View previous plays</li>
  <li><a href="/">Return to home</a></li>
</ul>