<h1>Welcome to NameGame 
  <%if @current_user == nil%>
  <%else%>
  <%=@current_user.first_name%> 
  <%end%>
  </h1>

<%if @current_user == nil%>
  <li><a href="/user_sign_up">Sign Up</a></li>
  <li><a href="/user_sign_in">Sign In</a></li>
  <li><a href="/roster">View Roster</a></li>

<%else %>
  <h1>Menu</h1>
<ul>
  <li><a href="/new_play">Begin new play</a></li>
  <li><a href="/user_plays/<%=@current_user.id%>">View previous plays<a></li>
  <li><a href="/roster">View Roster</a></li>
</ul>

<%end%>