<div class="mx-5">
<h1>Welcome

  <%if @current_user == nil%>
  <%else%>
  <%=@current_user.first_name%> 
  <%end%>
  </h1>

<%#start card layout%>

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Want to play a game?</h5>
        <p class="card-text">Time to show off how many people you know.</p>
        <a href="/new_play" class="btn btn-primary">Play</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Feel like brushing up?</h5>
        <p class="card-text">Take a look at the roster to learn some new names.</p>
        <a href="/roster" class="btn btn-primary">Roster</a>
      </div>
    </div>
  </div>
</div>

</div>


